<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.neto.deolino.trabalhoandroid">

    <uses-permission android:name="android.permission.INTERNET" />
    <!--
         The ACCESS_COARSE/FINE_LOCATION permissions are not required to use
         Google Maps Android API v2, but you must specify either coarse or fine
         location permissions for the 'MyLocation' functionality. 
    -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!--
        <activity android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:label="@string/app_name" />
        -->
        <activity
            android:name=".CreateAccountActivity"
            android:label="@string/createAccountActivityLabel"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".DashboardActivity"
            android:label="@string/app_name"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".ResetPasswordActivity"
            android:label="@string/app_name"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".SearchEventActivity"
            android:label="@string/searchEventsActivityLabel"
            android:parentActivityName=".EventDescriptionActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.neto.deolino.trabalhoandroid.DashboardActivity" />
        </activity>
        <activity
            android:name=".CreateEventActivity"
            android:label="@string/createEventActivityLabel"
            android:parentActivityName=".DashboardActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.neto.deolino.trabalhoandroid.DashboardActivity" />
        </activity>
        <activity
            android:name=".EventDescriptionActivity"
            android:label="@string/eventDescriptionActivityLabel"
            android:parentActivityName=".DashboardActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.neto.deolino.trabalhoandroid.DashboardActivity" />
        </activity>
        <activity
            android:name=".MyEventsActivity"
            android:label="@string/myEventsActivityLabel"
            android:parentActivityName=".DashboardActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.neto.deolino.trabalhoandroid.EventDescriptionActivity" />
        </activity>
        <activity
            android:name=".UserDerscriptionActivity"
            android:label="@string/UserDescriptionActivityLabel"
            android:parentActivityName=".DashboardActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.neto.deolino.trabalhoandroid.DashboardActivity" />
        </activity>
        <activity
            android:name=".EditAccountActivity"
            android:label="@string/UserDescriptionActivityLabel"
            android:parentActivityName=".UserDerscriptionActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.neto.deolino.trabalhoandroid.UserDerscriptionActivity" />
        </activity>
        <activity
            android:name=".MyFriendsActivity"
            android:label="@string/my_friends"
            android:parentActivityName=".UserDerscriptionActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.neto.deolino.trabalhoandroid.UserDerscriptionActivity" />
        </activity>
        <activity
            android:name=".AddFriendsActivity"
            android:label="@string/add_friends"
            android:parentActivityName=".MyFriendsActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.neto.deolino.trabalhoandroid.MyFriendsActivity" />
        </activity>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity
            android:name=".MapsActivity"
            android:label="@string/title_activity_maps"
            android:parentActivityName=".DashboardActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.neto.deolino.trabalhoandroid.DashboardActivity" />
        </activity>
        <activity
            android:name=".CreditActivity"
            android:label="@string/title_activity_credit"
            android:parentActivityName=".DashboardActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.neto.deolino.trabalhoandroid.DashboardActivity" />
        </activity>
        <activity
            android:name=".MySettingsActivity"
            android:label="@string/title_activity_settings"
            android:parentActivityName=".DashboardActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.neto.deolino.trabalhoandroid.DashboardActivity" />
        </activity>
        <activity
            android:name=".InviteActivity"
            android:label="Invite to the event"
            android:parentActivityName=".EventDescriptionActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.neto.deolino.trabalhoandroid.EventDescriptionActivity" />
        </activity>
        <activity
            android:name=".MapsActivityOk"
            android:label="@string/title_activity_maps_ok"></activity>
    </application>

    <service android:name=".service.CreateAccountService"
        android:enabled="true"
        android:exported="true" />

</manifest>