<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.neto.deolino.trabalhoandroid">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data android:name="com.facebook.sdk.ApplicationId" android:value="@string/facebook_app_id"/>
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
<!--
        <activity android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:label="@string/app_name" />
-->
        <activity
            android:name="com.neto.deolino.trabalhoandroid.CreateAccountActivity"
            android:label="@string/createAccountActivityLabel"
            android:parentActivityName="com.neto.deolino.trabalhoandroid.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>

        <activity
            android:name="com.neto.deolino.trabalhoandroid.DashboardActivity"
            android:label="@string/app_name"
            android:parentActivityName="com.neto.deolino.trabalhoandroid.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>

        <activity
            android:name="com.neto.deolino.trabalhoandroid.ResetPasswordActivity"
            android:label="@string/app_name"
            android:parentActivityName="com.neto.deolino.trabalhoandroid.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>

        <activity
            android:name="com.neto.deolino.trabalhoandroid.SearchEventActivity"
            android:label="@string/searchEventsActivityLabel"
            android:parentActivityName="com.neto.deolino.trabalhoandroid.EventDescriptionActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.neto.deolino.trabalhoandroid.DashboardActivity" />
        </activity>

        <activity
            android:name="com.neto.deolino.trabalhoandroid.CreateEventActivity"
            android:label="@string/createEventActivityLabel"
            android:parentActivityName="com.neto.deolino.trabalhoandroid.DashboardActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.neto.deolino.trabalhoandroid.DashboardActivity" />
        </activity>

        <activity
            android:name="com.neto.deolino.trabalhoandroid.EventDescriptionActivity"
            android:label="@string/eventDescriptionActivityLabel"
            android:parentActivityName="com.neto.deolino.trabalhoandroid.DashboardActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.neto.deolino.trabalhoandroid.DashboardActivity" />
        </activity>

        <activity
            android:name="com.neto.deolino.trabalhoandroid.MyEventsActivity"
            android:label="@string/myEventsActivityLabel"
            android:parentActivityName="com.neto.deolino.trabalhoandroid.DashboardActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.neto.deolino.trabalhoandroid.EventDescriptionActivity" />
        </activity>
        <activity
            android:name="com.neto.deolino.trabalhoandroid.UserDerscriptionActivity"
            android:label="@string/UserDescriptionActivityLabel"
            android:parentActivityName="com.neto.deolino.trabalhoandroid.DashboardActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.neto.deolino.trabalhoandroid.DashboardActivity" />
        </activity>
        <activity
            android:name="com.neto.deolino.trabalhoandroid.EditAccountActivity"
            android:label="@string/UserDescriptionActivityLabel"
            android:parentActivityName="com.neto.deolino.trabalhoandroid.UserDerscriptionActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.neto.deolino.trabalhoandroid.UserDerscriptionActivity" />
        </activity>
        <activity
            android:name="com.neto.deolino.trabalhoandroid.MyFriendsActivity"
            android:label="@string/my_friends"
            android:parentActivityName="com.neto.deolino.trabalhoandroid.UserDerscriptionActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.neto.deolino.trabalhoandroid.UserDerscriptionActivity" />
        </activity>

        <activity
            android:name="com.neto.deolino.trabalhoandroid.AddFriendsActivity"
            android:label="@string/add_friends"
            android:parentActivityName="com.neto.deolino.trabalhoandroid.MyFriendsActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.neto.deolino.trabalhoandroid.MyFriendsActivity" />
        </activity>

        <activity
            android:name="com.neto.deolino.trabalhoandroid.MapsActivity"
            android:label="@string/title_activity_maps"
            android:parentActivityName="com.neto.deolino.trabalhoandroid.DashboardActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.neto.deolino.trabalhoandroid.DashboardActivity" />
        </activity>

        <activity
            android:name="com.neto.deolino.trabalhoandroid.CreditActivity"
            android:label="@string/title_activity_credit"
            android:parentActivityName="com.neto.deolino.trabalhoandroid.DashboardActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.neto.deolino.trabalhoandroid.DashboardActivity" />
        </activity>

        <activity
            android:name="com.neto.deolino.trabalhoandroid.MySettingsActivity"
            android:label="@string/title_activity_settings"
            android:parentActivityName="com.neto.deolino.trabalhoandroid.DashboardActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.neto.deolino.trabalhoandroid.DashboardActivity" />
        </activity>

        <activity
            android:name="com.neto.deolino.trabalhoandroid.InviteActivity"
            android:label="Invite to the event"
            android:parentActivityName="com.neto.deolino.trabalhoandroid.EventDescriptionActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.neto.deolino.trabalhoandroid.EventDescriptionActivity" />
        </activity>

        <receiver android:name=".service.local.MyBroadcastReceiver">
            <intent-filter>
                <action android:name="com.deolino.android.A_CUSTOM_INTENT">
                </action>
            </intent-filter>
        </receiver>

        <service android:name=".service.local.Services"
            android:exported="false"/>

    </application>
</manifest>